{:paths ["src" "resources" "classes"]
 :deps {org.clojure/clojure       {:mvn/version "1.12.0"}
        http-kit/http-kit          {:mvn/version "2.8.0"}
        com.cnuernber/charred     {:mvn/version "1.034"}}
 :aliases
 {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.7"}}
          :ns-default build}}}
